<!-- Launches the simulation as well as all the nodes needed for the car to race -->

<launch>
    <!-- Whether to visualize debugging data -->
    <arg name="viz" default="False"/>
    <!-- How long the node should run for. -1 indicates no limit -->
    <arg name="duration" default="-1"/>
    <!-- Planning strategy for waypoint selection -->
    <arg name="strategy" default="centroid"/>
    <!-- Type of waypoint error to compute -->
    <arg name="error_type" default="angle"/>

    <!-- Perception -->
    <include file="$(find dapozzo_line_tracking)/launch/planner.launch">
        <arg name="viz" value="$(arg viz)"/>
        <arg name="strategy" value="$(arg strategy)"/>
        <arg name="error_type" value="$(arg error_type)"/>
    </include>

    <!-- Control -->
    <include file="$(find dapozzo_line_tracking)/launch/control.launch">
        <arg name="duration" value="$(arg duration)"/>
    </include>

    <!-- Simulation -->
    <include file="$(find line_tracking_race)/launch/race_track.launch"/> 
</launch>